li {color: magenta;}
h1 {color: blue}

.kontti {
    width: 200px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 40px;
    position: relative;
    border: 10px solid;
}
.kontti p {
    color: blue;
    text-align: center;
}

.k1 {
    background-color: red;
    border-color: green;
}

.k2 {
    background-color: yellow;
    border-color: red;
}

.k3 {
    background-color: green;
    border-color: yellow;
}

.cool {
    line-height: 1.5;
    padding: 4em 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 50em;
    color: #555;
}